.page-header {
  border-bottom: none;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  z-index: 10;
  margin: 0;
  padding: 0;
  background: #0F4A8E;
}

.page-header a {
  text-decoration: none;
}

.page-header h1 {
  font-size: 130%;
  padding: 26px 0 26px 25px;
  font-weight: 700;
  margin: 0;
  color: white;
  text-transform: uppercase;
  text-align: left;
}

